<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284324049246-fdrac5phco8gb8hpprkifsm9au9ictme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284324049246-fdrac5phco8gb8hpprkifsm9au9ictme</string>
	<key>API_KEY</key>
	<string>AIzaSyDomVeLcjM8h1IrxdHkcT6eVZ3CiAaBCbU</string>
	<key>GCM_SENDER_ID</key>
	<string>284324049246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agendaApp</string>
	<key>PROJECT_ID</key>
	<string>duit-a240d</string>
	<key>STORAGE_BUCKET</key>
	<string>duit-a240d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284324049246:ios:1dc08eaa8dc890190a5fcf</string>
</dict>
</plist>